<html>
<head>
  <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
  <div class="display_div">
    <table>
      <tr>
        <td class="bold">Original URL</td>
        <td><%= current[0] %></td>
      </tr>
      <tr>
        <td class="bold">Shortened URL</td>
        <td><a href="<%= current[1] %>"><%= current[1] %></a></td>
      </tr>
      <tr>
        <td class="bold">Page visits via shortener:</td>
        <td><%=count[id].to_s %></td>
      </tr>
    </table>
  </div>
</div>
<a href="/">Shorten another URL</a>
</body>
</html>

