<html>
<head>
  <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div>
  <div class="display_div">


    <table>
      <tr>
        <td class="bold">Original URL</td>
        <td><%= current[0] %></td>
      </tr>
      <tr>
        <td class="bold">Shortened URL</td>
        <td><%= current[1] %></td>
      </tr>

    </table>


  </div>
</div>
<a href="/">Shorten another URL</a>
</body>
</html>

