body {
    text-align: center;
}


.button {
    display:block;
    margin: auto;
    background-color: #374bff;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

.textbox {
    width: 300px;
    padding: 5px;
    display: block;
    margin: 10px auto;

}

.display_div {
    margin: auto;
    margin-top: 15%;
    width: 600px;
    text-align: left;
}

td {
    padding: 15px;
}

.bold {
    font-weight: bold;
}

.error {

    color: red;
}

.main {
    position: relative;
    margin-top: 22%;
}